<!DOCTYPE html>
<html>
<head>
    <title>Додати пост</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<h1>Додати пост</h1>
<form id="addPostForm">
    <label for="title">Заголовок:</label>
    <input type="text" id="title" placeholder="Заголовок" required>

    <label for="body">Текст поста:</label>
    <textarea id="body" placeholder="Текст поста" required></textarea>
    <button type="submit">Додати пост</button>
</form>
</body>
<script src="/js/client.js"></script>
</html>
