/* Стилізація заголовків */
h1 {
  font-size: 24px;
  font-weight: 400;
  color: #f500ff;
}

/* Стилізація форм для додавання та редагування постів */
form {
  max-width: 400px;
  margin: 0 auto;
}
body{
  background-image: url("../public/images/wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #f500ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Стилізація списку постів */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #d5a8b1;
  color: #333;
  transition: background-color 0.3s;
}

li:hover {
  background-color: pink;
}

/* Style for post headers (title) */
h3 {
  font-size: 18px;
  color: #f500ff;
  margin-bottom: 5px;
}

/* Style for post descriptions (body) */
p {
  font-size: 14px;
  color: deeppink;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
/* Стилізація кнопок "Редагувати" та "Видалити" */
button.edit-button {
  background-color: #f500ff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.edit-button:hover {
  background-color: #942f98;
}

button.delete-button {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: #c0392b;
}
button i {
  margin-right: 5px;
}
.post-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button-add{
  display: inline-block;
  padding: 10px 20px;
  background-color: #f500ff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.button-add:hover {
  background-color: #942f98;
}